<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Muypicky.com{% endblock title %}</title>
    {% include "snippets/css.html" %}
</head>
<body>
    <div class="container">
        <h1>Muypicky.com</h1>
        <br>
        {% include "snippets/nav.html" %}
        <hr>
        <br>
        {% block content %}
        
        {% endblock content %}
    </div>
    {% include "snippets/js.html" %}
</body>
</html>